<header class="header">
  {% block header %}
    <div class="header-wrap">
      <h1 class="site-title">
        <a href="/" class="logo" rel="home" title="{{bloginfo('name')}}">{{bloginfo('name')}}</a>
      </h1>
      <div class="menu-btn"><span>Menu</span></div>
    </div>
  {% endblock %}

  <hgroup class="jumbo">
    <h2>{{site.description}}</h2>
    <a href="{{site.url}}/ramper" class="btn btn--action">Köp din ramp nu</a>
  </hgroup>

  <div class="skew skew--top"></div>
</header>
